body {
	font-family: helvetica;
}

.jukebox-container {
	width:400px;
	height:600px;
	border:5px solid black;
	background-color: lightblue;
}

.title {
	background-color: tan;

	text-align: center;
	font-size: 55px;
}

hr {
	border-top:3px solid black;
}

h2 {
	text-align: center;;
	font-size: 30px
}
.music-library {
	margin:0 auto;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:350px;
	height:200px;
	border:3px solid black;

}

.click-play {
	background-color:tan;
	margin-top:3px;
	width:150px;
	height:75px;
	font-size:20px;
	border:2px solid black;
	text-align: center;

}


.button-container {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5px;
}



.button {
	background-color:tan;
	background-size:100% 100%;
	border:4px solid black;
	width:80px;
	height:60px;
	padding-top: 40px;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	
}


.play-button {
	background-image: url("play-icon.png");
}

.pause-button {
	background-image: url("pause-icon.png");
}

.next-button {
	background-image: url("next-icon.png");
}

.stop-button {
	background-image: url("stop-icon.png");
}

.song-info {
	margin:0 auto;
	width:380px;
	height: 100px;
	background-color: tan;
}
